{% extends 'base/base.html' %}
{% load static %}

{% block preview %}
    <div class="mb-5 text-center"
         style="background-color: #0a0a0a; padding: 150px 20px 150px 20px">
        <h1 class=" text-warning display-1">
            QUIZ
        </h1>
        <h5 class="text-muted">Определи, КТО самое слабое звено</h5>

    </div>
{% endblock %}
{% block content %}
    <div class="text-center mb-5">
        <h2 class="text-warning">Для чего этот проект?</h2>
        <p class="text-muted">В нашем мире много людей, которые хотели бы
            поиграть с друзьями в
            интеллектуальные игры. Одна из таких игр – Слабое звено.<br><br>
            Наш сайт создан, чтобы упростить жизнь организаторам
            интеллектуальной игры "
            слабое звено". Вам больше не нужно думать о вопросах, отслеживание
            правильных и
            неправильных ответов, считать банк.</p>
    </div>
    <div class="text-center mb-3">
        <h2 class="text-warning mb-3">Зачем нужны мы?</h2>

        <div class="mb-3">
            <h5 class="text-primary">Организация игры без нашего сайта</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    style="background-color: #161617">Придумать вопросы
                </li>
                <li class="list-group-item"
                    style="background-color: #161617">Считать очки,
                    правильных/неправильных ответов за раунд
                </li>
                <li class="list-group-item"
                    style="background-color: #161617">Записывать банк
                </li>
                <li class="list-group-item"
                    style="background-color: #161617">И прочая головная
                    боль
                </li>
            </ul>
        </div>
        <hr>
        <div class="mb-5">
            <h5 class="text-primary">Организация игры c нашим сайтом</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"
                    style="background-color: #161617">Зарегистрироваться
                </li>
                <li class="list-group-item"
                    style="background-color: #161617">Создать игру

                </li>
                <li class="list-group-item"
                    style="background-color: #161617">Нажимать на кнопочки
                </li>

            </ul>
        </div>
    </div>
    <div class="text-center mb-5">
        <h3 class="text-warning">Чего ты ждешь?</h3>
        <h6 class="text-muted mb-3">Регистрируйся быстрее</h6>
        <a class="btn btn-lg btn-outline-warning" href="{% url 'users:register' %}">Зарегистрироваться</a>
    </div>
{% endblock %}