{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
    <style>
        body {
            font-size: 18px;
        }

        {% block style %}
        {% endblock %}
    </style>
</head>
<body class="bg-dark text-white">
<div class="container">
    {% include 'includes/navbar.html' %}
    {% block topcontent %}{% endblock %}
    <div class="mt-5">
        {% block content %}{% endblock %}
    </div>
    {% block undercontent %}{% endblock %}
</div>

</body>
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block underbody %}{% endblock %}
</html>