{% extends 'base/base.html' %}

{% block content %}
    <h1>Профиль</h1>
    <div class="mb-4">
        <h3>Управление аккаунтом</h3>
        <div class="d-flex justify-content-start">
            <a class="btn btn-outline-success mr-2" href="{% url 'users:change_password' %}">Сменить пароль</a>
            <a class="btn btn-outline-danger" href="{% url 'users:logout' %}">Выйти из аккаунта</a>
        </div>


    </div>

    <div>
        <h3>Законченные игры</h3>
        {% if not games_winners %}
            <p>У вас еще не было игр</p>
        {% endif %}
        {% for winner in games_winners %}
            <div class="card mb-3" style="background-color: #272728">
                <div class="card-body">
                    <h5 class="card-title">Победитель: <span
                            class="text-primary">{{ winner.name }}</span></h5>
                    <p class="card-text">Банк игры {{ winner.game.bank }}</p>
                    <a class="btn btn-primary"
                       href="{% url 'game:result' winner.game.pk %}">Подробнее</a>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
