{% extends 'admin/base_site.html' %}
{% load static %}
{% block content %}
    <style>
        .form-button {
            background: #417690;
            color: white;
            border: none;
            font: bold 15px arial, sans-serif;
            text-shadow: none;
            padding: 10px 15px;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.3s !important;
        }
        .form-button:hover {
            background: #205067;
        }

        .form-input {
            color: white;
            border: 2px solid #417690;
            font: bold 15px arial, sans-serif;
            text-shadow: none;
            padding: 10px 15px;
            border-radius: 7px;
            cursor: pointer;
            transition: 0.3s !important;
        }
        .form-input:hover {
            background: #417690;
        }

        code {
            font-size: 18px;
        }

        li {
            font-size: 15px;
        }

        .without-dots {
            list-style-type: none;
        }

        label {
            font-size: 16px;
        }
    </style>
    <div>
        <h1>Загрузите CSV файл с вопросами</h1>
        <h2>Структура файла:</h2>
        <p>Разделитель - запятая</p>
        <ul>
            <li>1 колонка: <code>question</code> - вопрос</li>
            <li>2 колонка: <code>answer</code> - ответ</li>
        </ul>
        <h2>Пример структуры файла:</h2>
        <ul>
            <li class="without-dots"><code><b>question,answer</b></code></li>
            <li class="without-dots"><code>Столица России?,Москва</code></li>
        </ul>
        <br/>
        <br/>
        <form method="POST" id="csv-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button type="submit" class="form-button">Импортировать</button>
        </form>
    </div>
{% endblock %}