{% extends 'base/base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col col-lg-4 text-center">
            <h2>Финальный раунд</h2>
            <p>Банк: <span class="text-primary">{{ bank }}</span></p>
            <hr>
            <div>
                {% for member in members %}
                    <h4>{{ member.name }}</h4>
                    <div>
                        <span>Правильных ответов: {{ member.good_answers }}</span>
                        <br>
                        <span>Неправильных ответов: {{ member.bad_answers }}</span>
                    </div>
                    <hr>
                {% endfor %}
            </div>
            <div class="my-3">
                <h4>Вопрос для: <span
                        class="text-primary"> {{ question_for_member.name }}</span>
                </h4>
                <div>
                    <span>Вопрос: {{ question.question }}</span>
                    <br>
                    <span>Ответ на вопрос: {{ question.answer }}</span>
                </div>
            </div>
            <form action="{% url 'game:final' %}" method="post">
                {% csrf_token %}
                <input hidden name="question_pk" value="{{ question.pk }}"/>
                <button class="btn btn-success mb-3" name="value" type="submit"
                        value="good">Правильный ответ
                </button>
                <br>
                <button class="btn btn-danger" name="value" type="submit"
                        value="bad">Неправильный ответ
                </button>
            </form>
        </div>
    </div>
{% endblock %}
