{% extends 'base/base.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col col-lg-4 text-center">
            <h4>Время до конца раунда</h4>
            <div class="timer mb-5">
                <div class="timer__items">
                    <div class="timer__item timer__minutes">00</div>
                    <div class="timer__item timer__seconds">00</div>
                </div>
            </div>
            <div>
                <h4>Банк раунда: <span class="text-primary">{{ round.bank }}</span></h4>
                <h4 class="mb-5">Текущий банк раунда: <span class="text-primary">{{ round.now_bank }}</span></h4>
            </div>
            <h3>Вопрос игроку: <span class="text-primary">{{ member.name }}</span></h3>
            <div>
                <span><span class="text-primary">Вопрос:</span> {{ question.question }}</span>
                <br class="my-2">
                <span><span class="text-primary">Ответ на вопрос:</span> {{ question.answer }}</span>
            </div>
            <br>
            <form action="{% url 'game:question' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-success" name="value" type="submit" value="good">Правильный ответ</button>
                <br>
                <button class="btn btn-outline-primary my-2" name="value" type="submit" value="bank">Банк</button>
                <br>
                <button class="btn btn-danger" name="value" type="submit" value="bad">Неправильный ответ</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {


            function declensionNum(num, words) {
                return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
            }

            function getTimeRemaining() {
                let t = Date.parse('{{ round_end_time }}') - Date.parse(new Date());
                let seconds = Math.floor((t / 1000) % 60);
                let minutes = Math.floor((t / 1000 / 60) % 60);

                if (seconds >= 0) {
                    $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
                    $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;

                    $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
                    $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);

                }
            }


            const $minutes = document.querySelector('.timer__minutes');
            const $seconds = document.querySelector('.timer__seconds');
            getTimeRemaining();
            setInterval(getTimeRemaining, 1000);
        });
    </script>
{% endblock %}