{% extends 'base/base.html' %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="col col-lg-4 text-center">
            <h1>Голосование</h1>
            <h2>Статистика:</h2>
            {% for member in members %}
                <h3 class="text-info">{{ member.name }}</h3>
                <p>
                    Правильных ответов: <span class="text-primary">{{ member.good_answers }}</span>
                    <br>
                    Неправильных ответов: <span class="text-primary">{{ member.bad_answers }}</span>
                    <br>
                    Банк: <span class="text-primary">{{ member.brought_in_bank }}</span>
                </p>
                <form action="{% url 'game:kick_member' member.pk %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger">Выгнать</button>
                </form>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}
